.nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #000000;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.link {
  float: left;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
}